.logo {
  width: 80px;
  height: 80px;
  margin-right: 200px;
  margin-top: 20px;
}
.logo> img {
  width: 100%;

}

.menu-items{
  background-color: #353472;
}

ul.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #353472;
  margin-top: 0px;
}
li > a {
  margin-right: 120px;
  padding: 20px;
  color: white;
}
a.login-icon {
  display: flex;
}

.icon-text {
  margin: 0px 10px;
}

ul.menu-list {
  list-style: none;
}

:link {
  text-decoration: none;
}
