.detailsannounce > .detailsimage {
  width: 80%;
  height: 350px;
}

.detailsimage > img {
  width: 100%;
  height: 100%;
}

.detailsannounce {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}


.detailsannounce > .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description > h3 {
  font-size: 0.9rem;
  font-style: italic;
  padding-bottom: 15px;
  margin-top: 0;
}
.description {
  width: 90%;
  margin-top: 30px;
}
.bouttons {
  display: flex;
  align-items: center;
}
.boutton1> button {
  width: 150px;
  height: 35px;
  border-radius: 7px;
  background: #fdb242;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
.boutton2> button {
  width: 150px;
  height: 35px;
  border-radius: 7px;
  background:  hsla(145, 79%, 19%, 0.431);
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
.price> h3{
  margin-right: 15px;
}